/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 100vw;
  height: 1.5rem;
  bottom: 0;
  position: fixed;
}

/* Profile Picture */
#profile-picture {
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  margin-top: 3rem;
  padding: 5px;
  width: 150px;
}


